.home-page {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 18px;
}

.post-card {
    color: white;
    background-color: #547792;
    width: 1300px;
    border-radius: 4px;
    height: 190px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.post-card h2, p {
    margin-left: 2rem;
}

.post-card-link {
    text-decoration: none;
    color: inherit;
}

.post-card img{
    align-self: flex-end;
    height: 200px;
    width: 220px;
}

.about {
    max-width: 950px;
    padding: 10px;
    text-align: center;
    background-color: rgb(212, 212, 212);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.filter-text{
    font-size: 20pt;
}

.filter-bar select{
    padding: 0.3rem;
    font-size: 14pt;
    border-radius: 3px;
    background-color: rgb(100, 100, 100);
}

.search-bar input{
    background-color: rgb(54, 54, 54);
    border-radius: 10px;
    color: white;
}

.search-bar{
    width: 670px;
    border-radius: 10px;
    color: white;
}