.layout {
    background-color: #282c3400;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo h1 {
    color: white;
    font-size: 2rem;
    margin: 10px;
}

.nav-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links .home-link {
    margin-right: 20px;
    font-size: 22pt;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 22pt;
}

.nav-links a:hover {
    text-decoration: underline;
}